[Desktop Entry]
Name={{ app_name }}
Exec={{ app_exec }}
Terminal=false
Type=Application
Icon={{ mattermost_install_dir }}/app_icon.png
StartupWMClass=mattermost
Comment=Mattermost Desktop application for Linux
Categories=Network;InstantMessaging;
