[Desktop Entry]
Name=PyCharm
Exec=/home/{{ remote_regular_user }}/.local/pycharm/bin/pycharm
Icon=/home/{{ remote_regular_user }}/.local/pycharm/bin/pycharm.png
Type=Application
Categories=Development;IDE;
